<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1 maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/authentication.css">
    <title>Cut-It! | Sign Up</title>

    <!-- jQuery CDN - Minified version (=with AJAX) -->
	<script src="../js/jQueryCDN_MinifiedVersion/jquery-3.3.1.min.js"></script>
    <!-- Our Custom JS -->
    <script src="../js/Custom/app_authentication.js"></script>

</head>
<body id="buss_cus_sign_up">

    <div class ="header">
        <h2 class="back_arrow">
            <a href="./customer_sign_up.html"><<</a>
        </h2>
    </div>

    <div class ="sub_header">
        <h3 class="sub_text">Tell us about it...</h3>
    </div>
    
    <div class="content">
            <form id="buss_cus_sign_up_form">

                <input type="text" name="Business name" class="business_name" id="buss_name" placeholder="Business name" required>
    
                <input type="text" name="Business email" class="business_email" id="buss_email" placeholder="Business email" required>
    
                <input type="text" name="Business Phone no" class="business_phone_no" id="buss_phone_no" placeholder="Business phone no" required>
    
                <input type="password" name="Password" class="password" id="buss_password" placeholder="Password" required>
    
                <input type="password" name="Confirm password" class="password" id="buss_confirm_password" placeholder="Confirm password" required>
    
                <div class="submit">
                    <a class="button" id="business_customer_sign_up">Sign Up</a>                
                </div>
        
            </form>
    </div>

</body>
</html>

