<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1 maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/authentication.css">
    <title>Cut-It! | Sign Up</title>

    <!-- jQuery CDN - Minified version (=with AJAX) -->
	<script src="../js/jQueryCDN_MinifiedVersion/jquery-3.3.1.min.js"></script>
    <!-- Our Custom JS -->
    <script src="../js/Custom/app_authentication.js"></script>

</head>
<body id="cus_sign_up">

    <div class ="header">
        <h2 class="back_arrow">
            <a href="../../index.html"><<</a>
        </h2>
    </div>

    <div class ="sub_header">
        <h3 class="sub_text">Tell us about you...</h3>
    </div>
    
    <div class="content">
            <form id="cus_sign_up_form">

                <input type="text" name="First name" class="first_name" id="cus_first_name" placeholder="First name" required>
    
                <input type="text" name="Last name" class="last_name" id="cus_last_name" placeholder="Last name" required>
    
                <input type="text" name="Email" class="email" id="cus_email" placeholder="Email" required>
    
                <input type="password" name="Password" class="password" id="cus_password" placeholder="Password" required>
    
                <input type="password" name="Confirm password" class="password" id="cus_confirm_password" placeholder="Confirm password" required>

                <p class="inline_link">
                    Have a business? </br>
                    <a href="./buss_customer_sign_up.html">Create a business account</a>
                </p>
    
                <div class="submit">
                    <a class="button" id="customer_sign_up">Sign Up</a>                
                </div>
        
            </form>
    </div>

</body>
</html>

