<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1 maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/authentication.css">
    <title>Cut-It! | Forgot Password</title>


    <!-- jQuery CDN - Minified version (=with AJAX) -->
	<script src="../js/jQueryCDN_MinifiedVersion/jquery-3.3.1.min.js"></script>
    <!-- Our Custom JS -->
    <script src="../js/Custom/app_authentication.js"></script>

</head>
<body id="forgot_password">

    <div class ="header">
        <h2 class="back_arrow">
            <a href="./log_in.html"><<</a>
        </h2>
    </div>

    <div class ="sub_header">
        <h3 class="sub_text">Forgot password</h3>
    </div>
    
    <div class="content">
            <form id="forgot_password_form">

                <input type="text" name="Email" class="email" id="forgot_pass_email" placeholder="Email" required>
    
                <input type="password" name="New password" class="password" id="forgot_pass_new_password" placeholder="New password" required>
    
                <input type="password" name="Confirm password" class="password" id="forgot_pass_confirm_password" placeholder="Confirm password" required>
    
                <div class="submit">
                    <a class="button" id="forgotten_password">Reset</a>                
                </div>
        
            </form>
    </div>

</body>
</html>